<div class="rsvp-form text-center">
	<div class="col-md-12">
		<h1 class="text-center">RSVP</h1>		
	</div>
	<%= form_for @rsvp, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<div class="row">
					<%= f.label :full_name, class: "col-sm-4 control-label" %>
					<%= f.text_field :name, class: "col-sm-8 control-label", placeholder:"Name" %>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
					<%= f.label :attending, class: "col-sm-4 control-label" %>	
					<%= f.select :attending, [['Yes', true], ['No', false]], {}, class: "col-sm-8 control-label", id: "attendingSelection" %>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<%= f.label :meal, class: "col-sm-4 control-label", id: "mealLabel" %>	
						<%= f.select :meal, [['Steak', 'steak'], ['Chicken', 'chicken'], ['Vegetarian', 'vegetarian']], {}, class: "col-sm-8 control-label", id: "mealSelection" %>
					</div>
			 	</div>

				<div class="form-group">
					<div class="row">
					<%= f.label :guest, class: "col-sm-4 control-label", id: "guestAttendingLabel" %>	
					<%= f.select :attending, [['No', false], ['Yes', true]], {}, class: "col-sm-8 control-label", id: "guestSelection" %>
					</div>
				</div>

				<div class="row" id="guestSectionHeader">
					<h4>Guest</h4>
					<hr>
				</div>

				<div class="form-group">
					<div class="row">
					<%= f.label "Guest's Name", class: "col-sm-4 control-label", id: "guestNameLabel" %>
					<%= f.text_field :guest_name, class: "col-sm-8 control-label", id: "guestName", placeholder:"Name" %>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
					<%= f.label "Guest's Meal", class: "col-sm-4 control-label", id: "guestMealLabel" %>
					<%= f.text_field :guest_meal, class: "col-sm-8 control-label", id: "guestMealSelection", placeholder:"Name" %>
					</div>
				</div>
			
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="row">
						<%= f.label :comments, class: "col-sm-4 control-label" %>	
						<%= f.text_area :comments, class: "col-sm-6 control-label", placeholder:"Let us know something", size: "5x5" %>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<%= f.label :email, class: "col-sm-4 control-label" %>	
						<%= f.text_field :email, class: "col-sm-6 control-label", placeholder:"Get updates (optional)"%>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-sm-offset-10">
	  				<%= f.submit "Create", class: "btn btn-small" %>				
				</div>
			</div>
		</div>
	<% end %>				
</div>