<div class="rsvp-form text-center">
	<div class="col-md-12">
		<h1 class="text-center">RSVP</h1>		
	</div>
	<%= form_for @group, url: groups_path, html: {class: "form-horizontal"} do |f| %>
		<div class="row">
			<div class="col-sm-6">

				<!-- div class="form-group">
					<div class="row">
					<input type="hidden" id="guestFieldsRoute" value="<%= url_for(action: 'add_guest_fields', controller: 'pictures')%>">
					<%= f.label :guest_count, class: "col-sm-4 control-label" %>	
					<%= f.select :attending, [['1', 1], ['2', 2] ,['3', 3], ['4', 4],['5', 5]], {}, class: "col-sm-8 control-label", id: "guestCount" %>
					</div>
				</div>-->

				<div class="form-group">
					<div class="row">
					<%= f.label :attending, class: "col-sm-4 control-label" %>	
					<%= f.select :attending, [['Yes', true], ['No', false]], {}, class: "col-sm-8 control-label", id: "attendingSelection" %>
					</div>
				</div>

				
				<div id="guestSection">	
					<h3>Guests</h3>
					<div id="guestFields">
						
					</div>	
					<%= f.fields_for :rsvps do |rsvp| %>
						<%= render 'pictures/rsvp_fields', f: rsvp %>
					<% end %>
				</div>

				<div class="add-more-rsvps">
					<%= link_to_add_association 'Add', f, :rsvps %>
				</div>
				
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<div class="row">
						<%= f.label :comments, class: "col-sm-4 control-label" %>	
						<%= f.text_area :comments, class: "col-sm-6 control-label", placeholder:"Let us know something", size: "5x5" %>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<%= f.label :email, class: "col-sm-4 control-label" %>	
						<%= f.text_field :email, class: "col-sm-6 control-label", placeholder:"Get updates (optional)"%>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="">
	  				<%= f.submit "Submit", class: "btn btn-lg btn-green" %>			
				</div>
			</div>
		</div>
	<% end %>				
</div>