<%= render 'partials/navbar' %>

<div id="fullpage">
    <div class="section">
    	<div class="our-wedding">
    		<div class="container">
    			<div class="outer-div">
    				<div class="message-box">
	    				<h1 class="text-center"><span class="sara">SARA</span> + <span class="ty">TY</span></h1>
	    				<div class="date-box">
	    					<h2 class="text-center">12.30.2016</h2>
	    				</div>
	    				<h3 class="accent text-center"><a href="/#details">SCROLL FOR MORE</a></h3>    				
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="details">
    		<div class="container">
    				<div class="slide">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <div class="info-text-container">
                                    <p>
                                    <%= image_tag "the_arcade.jpg", size: "450x300", class: "image" %>
                                    <span class="big-highlight">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit. Nam malesuada urna vitae accumsan tincidunt. Mauris malesuada sed orci a maximus. Nulla augue arcu, venenatis ac orci at, aliquet vulputate risus. Aenean sodales eros eu nulla bibendum, ac efficitur nulla vestibulum. Nam enim libero, egestas nec ipsum ut, <span class="highlight">congue laoreet est</span>. Cras dapibus lobortis sapien eget feugiat. Curabitur purus mi, aliquam non diam id, gravida consectetur ex. Aliquam fermentum mi nec aliquam maximus. Nunc nec vehicula magna. Nunc imperdiet aliquet magna, in varius mauris efficitur at. In hac habitasse platea dictumst. Nullam finibus, sem id elementum commodo, nisl dolor luctus dui, eget lobortis risus <span class="highlight">lorem</span> vel justo. Praesent interdum lorem dignissim porta dictum. Mauris a est eu orci imperdiet malesuada et at massa. Donec laoreet ultrices risus ac tempus.</p>

                                    <p>Nunc lacus sapien, vestibulum sit amet pulvinar id, iaculis id lacus. Duis efficitur blandit nunc non malesuada. Phasellus ultricies tellus elit, id molestie neque convallis at. Nam ut dolor suscipit, euismod nulla non, maximus magna. Curabitur vulputate eros malesuada <span class="highlight">lacus</span> molestie, vel aliquet magna lobortis. Vivamus blandit leo id purus rutrum consequat. Cras cursus tellus maximus tincidunt vulputate. Ut quis tempus orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="highlight">Curabitur ac velit eget risus imperdiet finibus.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="slide"></div>                
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="pictures">
    		<div class="container">
    			<div class="row">
                    <div class="col-sm-10">
                        <div class="galleria adjust-margin">
                            <%= image_tag('wedding_pic_1-compressor.jpg') %>
                            <%= image_tag('wedding_pic_2-compressor.jpg') %>
                            <%= image_tag('wedding_pic_3-compressor.jpg') %>
                            <%= image_tag('wedding_pic_4-compressor.jpg') %>
                            <%= image_tag('wedding_pic_5-compressor.jpg') %>
                            <%= image_tag('wedding_pic_6-compressor.jpg') %>
                        </div>    
                    </div>

                    <div class="col-sm-2">
                        <div class="adjust-margin">
                            <h3 class="text-center">Our Engagment</h3>
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus elit, fermentum eu massa sit amet, malesuada dignissim ipsum. Praesent eu eros at lorem tempor posuere. Phasellus enim tellus, interdum ut finibus non, scelerisque et turpis. Morbi in dui nec lectus dictum gravida. Aenean finibus urna nulla. Curabitur pulvinar nulla accumsan est vulputate fermentum. Morbi congue massa a leo volutpat, vitae lacinia ex volutpat.</p>                            
                        </div>
                    </div>
                    
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="registry">
    		<div class="container">
    			<div class="row">
    				   				
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="rsvp">
    		<div class="container">
    			<div class="row">
    				<%= render 'partials/rsvp_form' %>
    			</div>
    		</div>
    	</div>
    </div>
</div>