<%= render 'partials/navbar' %>

<div id="fullpage">
    <div class="section">
    	<div class="our-wedding">
    		<div class="container">
    			<div class="outer-div">
    				<div class="message-box">
	    				<h1 class="text-center"><span class="sara">SARA</span> + <span class="ty">TY</span></h1>
	    				<div class="date-box">
	    					<h2 class="text-center">12.30.2016</h2>
	    				</div>
	    				<h3 class="accent text-center"><a href="/#details">SCROLL FOR MORE</a></h3>    				
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="details">
    		<div class="container">
    			<div class="row">
    				Details    				
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="section">
    	<div class="pictures">
    		<div class="container">
    			<div class="row">
                    <div class="col-sm-10">
                        <div class="galleria adjust-margin">
                            <%= image_tag('wedding_pic_1-compressor.jpg') %>
                            <%= image_tag('wedding_pic_2-compressor.jpg') %>
                            <%= image_tag('wedding_pic_3-compressor.jpg') %>
                            <%= image_tag('wedding_pic_4-compressor.jpg') %>
                            <%= image_tag('wedding_pic_5-compressor.jpg') %>
                            <%= image_tag('wedding_pic_6-compressor.jpg') %>
                        </div>    
                    </div>

                    <div class="col-sm-2">
                        <div class="adjust-margin">
                            <h3 class="text-center">Our Engagment</h3>
                            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus elit, fermentum eu massa sit amet, malesuada dignissim ipsum. Praesent eu eros at lorem tempor posuere. Phasellus enim tellus, interdum ut finibus non, scelerisque et turpis. Morbi in dui nec lectus dictum gravida. Aenean finibus urna nulla. Curabitur pulvinar nulla accumsan est vulputate fermentum. Morbi congue massa a leo volutpat, vitae lacinia ex volutpat.</p>                            
                        </div>
                    </div>
                    
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="registry">
    		<div class="container">
    			<div class="row">
    				Registry    				
    			</div>
    		</div>
    	</div>
    </div>

    <div class="section">
    	<div class="rsvp">
    		<div class="container">
    			<div class="row">
    				<%= render 'partials/rsvp_form' %>
    			</div>
    		</div>
    	</div>
    </div>
</div>